@model IEnumerable<ReviewProject.Models.DeviceType>

@{
    ViewBag.Title = "Index";
}
<div class="bgArticle smallPad">
    <div class="revIndexForm">
        <h2>Devices</h2>

        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "greyButton" })
        </p>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DevTypeName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DevTypeName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>