@model ReviewProject.Models.Review

@{
    ViewBag.Title = "Details";
}
<div class="bgArticle">
    <h2 class="smallPad">Details</h2>

    <div class="container ">
        <div class="row boxForm">
            <div class="col-md-12">

                <div class="col-md-4">
                    <h2>@Html.DisplayFor(model => model.UserName)</h2>
                    <p>@Html.DisplayFor(model => model.TimeStamp)</p>

                </div>

                <div class="col-md-4">
                    <h3>
                        @Html.DisplayFor(model => model.Brand.BrandName)
                        @Html.DisplayFor(model => model.DeviceType.DevTypeName)
                    </h3>
                    <p>
                        @Html.DisplayFor(model => model.Comments)
                    </p>
                </div>

                <div class="col-md-4 centeredContent">
                    <h3>Rating:</h3>
                    <h4>
                        @Html.DisplayFor(model => model.Rating) out of 10 <br />
                    </h4>
                </div>

            </div>
        </div>
    </div>
    <p class="smallPad">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>