@model IEnumerable<ReviewProject.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2 class="whiteText">Reviews</h2>
<p>
   @Html.ActionLink("Add a new Review", "Create", null, new { @class="greyButton" } ) 
</p>

<div class="row bottomMargin ">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4 bottomMargin">
            <div class="thumbnail">
                <div class="caption">
                    <h3>
                        @Html.DisplayFor(modelItem => item.Brand.BrandName)<br />
                    @Html.DisplayFor(modelItem => item.DeviceType.DevTypeName)
                </h3>
                    <p>Rating: @Html.DisplayFor(modelItem => item.Rating)</p>
                    <p>Review by: @Html.DisplayFor(modelItem => item.UserName)<br />
                    @Html.DisplayFor(modelItem => item.TimeStamp)</p>
                    <p>
                        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { role = "button", @class = "blueButton" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { role = "button", @class = "redButton" })
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { role = "button", @class = "greyButton" })
                </p>
            </div>
        </div>
    </div>
    }

</div>




